{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spell Capital</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href = "{% static 'css/userdefined.css' %}">
</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
{# Django Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'index'%}">DJANGO</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index'%}">Admin</a></li>
          <li><a class="navbar-link" href="{% url 'CountryCapital:register'%}">Register</a></li>
          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'CountryCapital:user_login' %}">Login</a></li>
          {% endif %}
</ul>
      </div>
    </nav>
    <div id='block' class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="{% static 'js/effect.js' %}"></script>
<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


$("#begingame").click(function(event){
  event.preventDefault();
  var date = new Date();
        date.setTime(date.getTime() + (1*24*60*60*1000));
  document.cookie = "id_num = '';curr_scores = 0;total_attempt=0;expires = "+date.toUTCString();
  makeAjaxRequest();
});
function makeAjaxRequest() {
  $.ajax({
      url: '/countrycapital/spellgame/',
      type: 'POST',
      headers:{
        "X-CSRFToken": '{{ csrf_token }}'
        },
      data: JSON.stringify({'roundnumber': 1, 'totalattemptleft': 3, 'curr_score':0, csrfmiddlewaretoken: '{{ csrf_token }}'}),
      contentType: 'application/json',
      success: function(data){
        $("#block").html(data);
      }
  });
}

$("#submitans").click(function(event){
  event.preventDefault();
  var val = $("#input").val();
  makeAjaxRequest2(val);
});
function makeAjaxRequest2(val) {
  $.ajax({
      url: '/countrycapital/spellgamenext/',
      type: 'POST',
      headers:{
        "X-CSRFToken": '{{ csrf_token }}'
        },
      data: JSON.stringify({'answer': val,'roundnumber': 1, 'totalattemptleft': 3, 'curr_score':0, csrfmiddlewaretoken: '{{ csrf_token }}'}),
      contentType: 'application/json',
      success: function(data){
        $("#block").html(data);
      }
  });
}
</script>
</html>