{% extends "CountryCapital/base.html" %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the SpellCapital !</h1>
            {% if user.is_authenticated %}
                <h3>Hello {{ user.username }}</h3>
                <p>Let's Play the game of Spell Capital</p>
                <canvas></canvas>
                <form id='form1' method="post" autocomplete="off" action="/countrycapital/spellgame/">
                    <input type="hidden" id="roundnumber" name="roundnumber" value="1">
                    <input type="hidden" id="totalattemptleft" name="totalattemptleft" value="3">
                    <input type="hidden" id="curr_score" name="curr_score" value="0">
                    <canvas style="top:80%"></canvas>
                    {% csrf_token %}
                    <button type="submit" form="form1" value="Submit">
                        <span>Begin Round 1</span>
                    </button>
                </form>
                <div style="position: absolute;bottom: 0; width: 100%; height: 200px">
                {% if show %}
                    <p style="color: darkred">{{ message }}</p>
                {% endif %}
                    <h4>
                        Game Rule
                    </h4>
                    <p>- Total number of unsuccesful attempt is 3, after that you lose</p>
                    <p>- There are total 5 round to be played.</p>
                    <p>Good Luck</p>
                </div>
            {% else %}
                <h4>Register or Login if you'd like to</h4>
                <p></p>
            {% endif %}
        </div>
    </div>
{% endblock %}