{% extends "CountryCapital/base.html" %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron text-center col-mid-6">
            <h1>Welcome to the SpellCapital !</h1>
            <h3>Round {{ data.roundnumber.0 }}</h3>
            {% if user.is_authenticated %}
                <h3>Hello {{ user.username }}</h3>
                <p>What is the capital of {{ ques.country }}</p>
                {% if show %}
                    <p style="color: darkred">{{ message }}</p>
                {% endif %}
                {% if showCorrect %}
                    <p style="color: darkgreen">{{ message }}</p>
                {% endif %}
                <br>
                <br>
                <form id='form1' method="post" autocomplete="off" action="/countrycapital/spellgamenext/">
                {% csrf_token %}
                    <div class="Input">
                        <input type="text" id="input" name='answer' class="Input-text" placeholder="Capital">
                    </div>
                    <input type="hidden" name="roundnumber" value="{{ data.roundnumber.0 }}">
                    <input type="hidden" name="totalattemptleft" value="{{ data.totalattemptleft.0 }}">
                    <input type="hidden" name="curr_score" value="{{ data.curr_score.0 }}">
                    <button type="submit" form="form1" value="Submit" style="margin-top: 150px">
                        <span>Submit Answer</span>
                    </button>
                </form>
            {% else %}
                <h4>Register or Login if you'd like to</h4>
                <p></p>
            {% endif %}
        </div>
        <div class="jumbotron text-center col-mid-6">
            <p>Current Score: {{ data.curr_score.0 }}</p>
            <p>Attempt Left: {{ data.totalattemptleft.0 }}</p>
        </div>
    </div>
    <div style="position: absolute;bottom: 0; width: 100%; height: 200px">
        <h4>
            Game Rule
        </h4>
        <p>- Total number of unsuccesful attempt is 3, after that you lose</p>
        <p>- There are total 5 round to be played.</p>
        <p>Good Luck</p>
    </div>
{% endblock %}